<intro>
  <h1>Hi, my name is Mark.</h1>
  <p>I’m a developer, designer, and race director from De Pere. I build open source projects and write the missing instruction manuals of the web.</p>
  <p>I created this site to document everything I learn, and share a bit of myself with the world. My site has no ads, affiliates, sponsored posts, or paywalls. If you enjoy my content, please consider <a target="_blank" href="https://www.buymeacoffee.com/garrigan">supporting what I do.</a></p>
</intro>
