<nav>
	<div>
		<a href="/" class="logo">
			{{> "m-svg"}}
			<span>Mark Garrigan</span>
		</a>
	</div>
	<div>
		<a target="_blank" href="https://www.buymeacoffee.com/garrigan">
			<img src="{{asset "images/mug.svg"}}" alt="Mug">
		</a>
	</div>
</nav>
