intro {
  display: block;
  padding: 2vh 20px 6vh;
  font-family: 'Roboto', sans-serif;
  background-color: #231a48;

  h1 {
    font-size: 6vw;
    font-weight: 700;
    color: #f5f4f9;

    @media(min-width: map-get($breaks, 'large')) {
      font-size: 2em;
      grid-column: 5 / span 16;
    }
  }

  p {
    font-weight: 300;
    font-size: 5vw;
    line-height: 1.4;
    color: #f5f4f9;

    @media(min-width: map-get($breaks, 'large')) {
      font-size: 1.2em;
      grid-column: 5 / span 16;
    }
  }

  @media(min-width: map-get($breaks, 'large')) {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
  }
}
