.kg-width-wide {
  display: inherit;
}

.kg-width-full {
  display: inherit;
}

.kg-gallery-container {
  display: inherit;
}

.kg-gallery-row {
  display: inherit;
}

.kg-gallery-image {
  display: inherit;
}

.kg-bookmark-card {
  display: inherit;
}

.kg-bookmark-container {
  display: inherit;
}

.kg-bookmark-content {
  display: inherit;
}

.kg-bookmark-title {
  display: inherit;
}

.kg-bookmark-description {
  display: inherit;
}

.kg-bookmark-metadata {
  display: inherit;
}

.kg-bookmark-icon {
  display: inherit;
}

.kg-bookmark-author {
  display: inherit;
}

.kg-bookmark-publisher {
  display: inherit;
}

.kg-bookmark-thumbnail {
  display: inherit;
}
