.kg-width-wide {
  display: inherit;
}

.kg-width-full {
  display: inherit;
}

.kg-gallery-container {
  display: inherit;
}

.kg-gallery-row {
  display: inherit;
}

.kg-gallery-image {
  display: inherit;
}
